<section>
    <h2>Edit Blog Profile</h2>

    <form
        hx-post="{% url 'hub:blog-profile-edit' %}"
        hx-target="#profile-content"
        hx-swap="innerHTML"
        hx-encoding="multipart/form-data"
        enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Save
        </button>

        <button
            type="button"
            hx-get="{% url 'hub:blog-profile' %}"
            hx-target="#profile-content"
            hx-swap="innerHTML">
            Cancel
        </button>

    </form>
</section>